@model IEnumerable<HarrisContactWeb.Models.BusinessContact>

@{
    ViewData["Title"] = "Index";
}

<h1>Business Contacts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
